.car-image {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  height: 250px;
  display: inline-grid;
  align-content: center;
}

.car-image img {
  width: 100%;
}

@media (min-width: 500px) {
  .car-image {
    height: 500px;
  }
}
