.details {
  display: grid;
  margin: var(--gutter-size);
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--gutter-size);
  row-gap: var(--gutter-size);
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
