---
import { getLocaleData } from '../../locales/utils.js';

const locale = Astro.request.params.locale || 'en-US';
const t = getLocaleData(locale);
const { range: { WLTP: { km } }, acceleration: { zeroToHundred }, cargoSpace: { liter }, chargeTimes } = Astro.props;
---
<section>
  <dl>
    <dd>{zeroToHundred}</dd>
    <dt>0 - 100 {t('kph')}</dt>
    <dd>{km}</dd>
    <dt>{t('range')} (WLTP)</dt>
    <dd>{liter}</dd>
    <dt>{t('cargoSpace')}</dt>
    {chargeTimes && (
      <dd>{`${chargeTimes.wallPlug} ${t('hour')}`}</dd>
    ) || (
      <dd>-</dd>
    )}
    <dt>{t('chargeTimes.wallPlug')}</dt>
  </dl>
</section>
