---
const { range: { WLTP: { km } }, acceleration: { zeroToHundred }, cargoSpace: { liter } } = Astro.props;
---
<section>
  <dl>
    <dd>{zeroToHundred}</dd>
    <dt>0 - 100 kph</dt>
    <dd>{km}</dd>
    <dt>Range (WLTP)</dt>
    <dd>{liter}</dd>
    <dt>Cargo Space (l)</dt>
  </dl>
</section>
