picture {
  inline-size: 90vw;
  block-size: 250px;
}

@media (min-width: 500px) {
  picture {
    block-size: 400px;
  }
}

@media (min-width: 1000px) {
  picture {
    block-size: 600px;
  }
}

@media (min-width: 1500px) {
  picture {
    block-size: 800px;
  }
}

@media (min-width: 2000px) {
  picture {
    block-size: 1000px;
  }
}

img {
  /* smash into whatever box it's in */
  inline-size: 100%;
  block-size: 100%;

  /* don't squish but do cover the space */
  object-fit: cover;

  /* soften the edges */
  border-radius: 1ex;
  overflow: hidden;
}
