.image {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  height: 250px;
  display: inline-grid;
  align-content: center;
}

.image img {
  width: 100%;
}

@media (min-width: 500px) {
  .image {
    height: 400px;
  }
}

@media (min-width: 1000px) {
  .image {
    height: 600px;
  }
}
