.horizontal-scroller {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gutter-size);
  margin: 0;
  
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  
  padding-inline: var(--gutter-size);
  scroll-padding-inline: calc(var(--gutter-size) * 2);
  padding-block: var(--gutter-size);

  scroll-snap-type: inline mandatory;
}

@media (prefers-reduced-motion: no-preference) {
  .horizontal-scroller {
    scroll-behavior: smooth;
  }
}

.horizontal-scroller > li {
  display: inline-grid;
  scroll-snap-align: start;
}
