:root {
  /* FONTS */
  --font: system-ui;
  --font-size--small: 1rem;
  --font-size: 16px;
  --font-size--large: 1.2rem;
  --font-size--largest: 1.4rem;

  /* COLORS */
  --color-primary: #17517E;
  --color-primary--lightest: #72aedc;
  --color-primary--lighter: #3177ac;
  --color-primary--darker: #041018;
  --color-primary--darkest: #0b283d;
  --color-secondary: #8E9D66;
  --color-secondary--lighter: #acbb85;
  --color-secondary--darker: #3e442c;
  --color-text: #071825;
  --color-alternative: #f3f1f1;
  --color-subtle--light: #bcc7cf;
  --color-subtle--dark: #5f7f96;
  
  --color-background: var(--color-alternative);
  --color-background-alternative: var(--color-secondary);
  
  /* SPACING */
  --gutter-size: 1rem;
  --gutter-size--small: 0.5rem;
  --gutter-size--large: 1.4rem;
  
  /* BORDERS & DIVIDERS */
  --color-divider: var(--color-subtle--light);
  --border-radius--small: 4px;
  --border-radius: 8px;
  --border-radius--large: 16px;

  /* Z-INDEX */
  --z-index--largest: 1000;
  --z-index--large: 500;
  --z-index: 100;
  --z-index--small: 10;
  --z-index--smallest: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  width: 100%;
  min-height: 100vh;
  display: grid;
  background: var(--color-background);
  color: var(--color-text);
  position: relative;
}

form {
  display: grid;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

label {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: var(--gutter-size--large);
  font-size: var(--font-size--large);
}

select {
  font-family: var(--font);
  border: 1px solid var(--color-divider);
}

option {
  font-size: var(--font-size--largest);
  padding: var(--gutter-size--small) var(--gutter-size);
}

option:checked {
  background-color: var(--color-primary);
  color: var(--color-alternative);
}

dl {
  column-count: 3;
  column-rule: 1px solid var(--color-divider);
  text-align: center;
}

dd,
dt {
  padding: var(--gutter-size--small) var(--gutter-size);
}

dd {
  font-size: 1.4rem;
  font-weight: bold;
}

dt {
  font-size: 1rem;
}

a {
  color: inherit;
}

section {
  margin: var(--gutter-size--large);
}

img {
  background-image: linear-gradient(to bottom, var(--color-subtle--light), var(--color-subtle--dark)); /* for lazy loading images */
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  visibility: inherit;
  white-space: nowrap;
}

.background {
  background-color: var(--color-background);
}

.alternative.background {
  background-color: var(--color-background-alternative);
  color: var(--color-alternative);
}

.fader {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.fader.open {
  visibility: visible;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-primary);
    --color-background-alternative: var(--color-secondary--darker);
    --color-text: var(--color-alternative);
    --color-divider: var(--color-subtle--dark);
  }
}

