---
import Form from '../Form/Form.astro';
import Select from '../Form/Select/Select.astro';
import Option from '../Form/Select/Option.astro';

import './Filter.css';
---
<Form name="filter" class="filter alternative background fader">
  <Select label="Market" name="market" multiple>
    <Option value="EU">EU</Option>
    <Option value="USA">USA</Option>
  </Select>
</Form>
