---
import Form from '../Form/Form.astro';
import Switch from '../Switch/Switch.astro';
import { getLocaleData } from '../../locales/utils.js';

import './Filter.css';

const locale = Astro.request.params.locale || 'en-US';
const t = getLocaleData(locale);
---
<Switch name="menu-opener">{t('menu')}</Switch>
<Form name="filter" class="filter background fader">
  <!--
    TODO: implement using Select and Option components once the following is fixed
    https://github.com/withastro/astro/issues/1807
  -->
  <label>
    Market
    <select label="Market" name="markets" multiple>
      <option value="EU">EU</option>
      <option value="USA">USA</option>
    </select>
  </label>
</Form>
<script>
  const $cars = document.querySelectorAll('.car');
  const $selectedMarkets = document.forms.filter.markets.selectedOptions;

  const filterCarsList = () => {
    const selectedMarkets = [...$selectedMarkets];

    [...$cars].forEach($car => {
      const noSelection = !selectedMarkets.length;
      const isOnSelectedMarket = !noSelection && selectedMarkets.some(market => $car.getAttribute('data-markets').includes(market.value));

      if (noSelection || isOnSelectedMarket) {
        $car.classList.remove('hidden');
      } else if (!noSelection && !isOnSelectedMarket) {
        $car.classList.add('hidden');
      }
    });
  };

  document.querySelector('[name="menu-opener"]').onchange = filterCarsList;
</script>
