---
import Filter from '../components/Filter/Filter.astro'
import Cars from '../components/Cars/Cars.astro'

import './index.css';

const cars = [
  {
    name: 'Tesla Model Y',
    market: "USA",
    make: 'Tesla',
    model: 'Model Y',
    year: '2021',
    images: [
      { path: 'model-y-portrait@2' },
      { path: 'Range_Desktop-poster' },
      { path: 'utility-poster' }
    ],
    range: {
      WLTP: {
        km: 507
      }
    },
    acceleration: {
      zerotoHundred: 3.7
    },
    cargoSpace: {
      liter: 2100
    }
  }
];
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A comparison site for electric cars on all markets.">
  <title>Electric Cars | comparison site</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
  <main>
    <Cars cars={cars} />
  </main>
  <Filter />
</body>
</html>
