---
import Filter from '../components/Filter/Filter.astro'
import Cars from '../components/Cars/Cars.astro'

import './index.css';

const cars = [
  {
    name: 'Tesla Model Y',
    market: "USA",
    make: 'Tesla',
    model: 'Model Y',
    year: '2021',
    images: [
      { path: 'model-y-portrait@2' },
      { path: 'AWD_hero-portrait@2' },
      { path: 'Range_Desktop-poster' },
      { path: 'utility-poster' }
    ],
    range: {
      WLTP: {
        km: 507
      }
    },
    acceleration: {
      zeroToHundred: 3.7
    },
    cargoSpace: {
      liter: 2100
    }
  },
  {
    name: 'Tesla Model X',
    market: "USA",
    make: 'Tesla',
    model: 'Model X Plaid',
    year: '2021',
    images: [
      { path: 'MX-Hero-Desktop' },
      { path: 'MX-Exterior-Grid-A-Desktop' },
      { path: 'MX-Exterior-Grid-B-Desktop' },
      { path: 'MX-Exterior-Grid-C-Desktop' },
      { path: 'MX-Exterior-Hero-Desktop' },
      { path: 'MX-Interior-Carousel-B-Desktop' },
      { path: 'MX-Interior-Carousel-C-Desktop' },
      { path: 'MX-Interior-Carousel-D-Desktop' },
      { path: 'MX-Interior-Grid-B-Desktop' },
      { path: 'MX-Interior-Grid-C-Desktop' },
      { path: 'MX-Performance-Hero-Desktop' },
      { path: 'MX-Range-Hero-Desktop' },
      { path: 'MX-Safety-Hero-Desktop' },
      { path: 'MX-Utility-Hero-Desktop' },
    ],
    range: {
      WLTP: {
        km: 536
      }
    },
    acceleration: {
      zeroToHundred: 2.6
    },
    cargoSpace: {
      liter: 2577
    }
  },
  {
    name: 'KIA EV6',
    market: "USA",
    make: 'Kia',
    model: 'EV6',
    year: '2021',
    images: [
      { path: 'kia_ev6_video_petals_1920x1080' },
      { path: 'kia_ev6_carousel_exterior_01_1160x653' },
      { path: 'kia_ev6_carousel_exterior_03_1160x653' },
      { path: 'kia_ev6_carousel_connectivity_03_1160x653' },
      { path: 'kia_ev6_carousel_e-gmp_05_1160x653' },
      { path: 'kia_ev6_carousel_exterior_04_1160x653' },
      { path: 'kia_ev6_carousel_interior_03_1160x653' },
      { path: 'kia_ev6_carousel_interior_06_1160x653' },
      { path: 'kia_ev6_configuration_1920x1080' },
      { path: 'kia_ev6_sustainable-materials_hide_1160x580' },
      { path: 'kia-ev6-gls-my22-glbglacier-20_0011' },
    ],
    range: {
      WLTP: {
        km: 528
      }
    },
    acceleration: {
      zeroToHundred: 5.2
    },
    cargoSpace: {
      liter: 490,
      maxLiter: 1300
    }
  },
  {
    name: 'Hyundai iONIQ 5',
    market: "USA",
    make: 'Hyundai',
    model: 'iONIQ 5',
    year: '2021',
    images: [
      { path: 'Hyundai_IONIQ5_exterior_front_design_4x3' },
      { path: 'Hyundai_IONIQ5_exterior_rear_design_4x3' },
      { path: '14_OnBoard-Charger_mid_4x3' },
      { path: '15_1_SustainableDetails_mid_16x9' },
      { path: 'HME_PI_NE_Top-Trim_INT_side-roominess_7088x4902_rgb_v005_4x3' },
      { path: 'IONIQ5_features_tab_electric_seats_16x9' },
      { path: 'IONIQ5_features_tab_power_tailgate_16x9' },
      { path: 'IONIQ5_features_tab_voice_recognition_16x9' },
      { path: 'NE-DE-GIW5YCZ7ZHH211_T5R_52910GI210_EXT_Frame_0006' },
      { path: 'NE-DE-GIW5YCZ7ZHH211_U3P_52910GI210_EXT_Frame_0012' },
      { path: 'NE-DE-GIW5YCZ7ZHH211_W3T_52910GI210_EXT_Frame_0001' },
      { path: 'Photo6_Body-1_4x3' },
    ],
    range: {
      WLTP: {
        km: 481
      }
    },
    acceleration: {
      zeroToHundred: 5.2
    },
    cargoSpace: {
      liter: 311,
      maxLiter: 1587
    }
  }
];
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A comparison site for electric cars on all markets.">
  <title>Electric Cars | comparison site</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
  <main>
    <Cars cars={cars} />
  </main>
  <Filter />
</body>
</html>
