:root {
  --font: system-ui;
  --color-primary: #17517E;
  --color-secondary: #8E9D66;
  --color-text: #071825;
  --color-alternative: #f3f1f1;
  --color-subtle--light: #bcc7cf;
  --color-subtle--dark: #5f7f96;
  
  --color-background: var(--color-alternative);
  --color-background-alternative: var(--color-secondary);
  --color-divider: var(--color-subtle--light);

  /* SPACING */
  --gutter-size: 1rem;
  --gutter-size--small: 0.5rem;
  --gutter-size--large: 1.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font);
  width: 100%;
  min-height: 100vh;
  display: grid;
  background: var(--color-background);
  color: var(--color-text);
}

dl {
  column-count: 3;
  column-rule: 1px solid var(--color-divider);
  text-align: center;
}

dd,
dt {
  padding: var(--gutter-size--small) var(--gutter-size);
}

dd {
  font-size: 1.4rem;
  font-weight: bold;
}

dt {
  font-size: 1rem;
}

a {
  color: inherit;
}

section {
  margin: var(--gutter-size--large);
}

.visually-hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-primary);
    --color-text: var(--color-alternative);
    --color-divider: var(--color-subtle--dark);
  }
}

