---
import Filter from '../components/Filter/index.astro'
import Cars from '../components/Cars/index.astro'
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Electric Cars | comparison site</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">
</head>
<body>
  <header>
    <Filter />
  </header>
  <main>
    <Cars cars={[{ name: 'Tesla Model Y', market: "USA" }]} />
  </main>
</body>
</html>
