:root {
  --font: system-ui;
  --color-primary: #17517E;
  --color-secondary: #8E9D66;
  --color-alternative: #f3f1f1;

  --color-background: var(--color-alternative);
  --color-text: var(--color-primary);

  /* SPACING */
  --gutter-size: 12px;
  --gutter-size--small: 8px;
  --gutter-size--large: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font);
  width: 100%;
  min-height: 100vh;
  display: grid;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
}

.visually-hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-primary);
    --color-text: var(--color-alternative);
  }
}

